

*, *:before, *:after{
 margin:0;
 box-sizing: border-box;
}


body{
  display: flex;
  justify-content: center;
  background-color: black;
}

#entry{
  width: 100%;
  height:100%;
  position:absolute;
  background:black;
  z-index: 2;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  user-select: none;
}
#entry button {
  margin:10px;
}
#entry > div > div > p:nth-child(3) img{
  position: relative;
  top:17px;
}
/*above are the entry things UI*/
.ui{
  user-select:none;
  background: black;
  height:100vh;
  max-width:700px;
  display: flex;
  justify-content: center;
  align-items: center;
    overflow: hidden;
}
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:390px;

}
.info{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}
.subinfo {
  width:50%;
  padding:20px;
  margin: 20px;
  font-size: 40px;
}
#counter {
  position: relative;
  left:-95px;
  text-align: center;
}
.subinfo i {
  position: relative;
}
.gamePlay{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:90vw;
}
.subGamePlay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}
.msg {
  text-align: center;
  width:130px;

  color:white;
}
.circle{
  position: relative;
  width: 100px;
  height:100px;
  margin: 2%;
  border: 15px solid white;
  border-radius: 50%;
  transition: all 0.2s;
}
#red{
  border-color: red;
}
#yellow{
  border-color: yellow;
}
#green{
  border-color: green;
}
#blue{
  border-color: blue;
}
#lost {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#lost i{
  font-size: 30px;
  margin:2px;

}
#lost i:active {
  transform: scale(1.1);
}
/*below are the css for the switch */
.switch {
  opacity: 0;
}
.switch-btn {
  position:relative;
  width:80px;
  height:40px;
  top:-10px;
  background: #e5e5e5;
  cursor:pointer;
  border-radius:20px;
  box-shadow: 0 0 4px 1px #47cb8f, inset 0 0 1px 2px rgba(0, 0, 0, 0.71);
}
.switch-btn:before{
  content:"";
  position:absolute;
  height:36px;
  width:36px;
  background:linear-gradient(#FFF,#f2f2f2);
  left:2px;
  top:2px;
  border-radius:50%;
  box-shadow: 0 8px 6px -4px rgba(0,0,0,0.25);  transition:all 150ms ease-out;

}
input[type=checkbox]:checked + .switch-btn:before  {
  left:42px;
}

input[type=checkbox]:checked + .switch-btn {
 background:#47cb8f;
}

.rules {
    padding:20px;
    width: 250px;
    height: auto;
    position: absolute;
    display: none;
    background: black;
    /* color: black; */
    border: 1px solid white;
    box-shadow: 0 0 10px 5px rgba(255,255,255,0.6);
    z-index: 6;
    top:30%;
    left:40%;
    flex:3;
}
@media screen and (max-width:620px){
  .rules{
    left:20%;
  }
}
#close {
position: absolute;
top: 0;
right: 6px;
/*alert when loose and choose wrong btn */
.alert {
  animation : alert 0.5s ease-in-out 0s 1 alternate, shake 0.5s ease-in-out 0s 1;
}



@keyframes alert {
  0%{
    background: none;
    box-shadow:0 0 20px 3px rgba(255, 255, 255, 0.5);
  }
  100%{
    box-shadow: none;
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
